@tailwind base;
@tailwind components;
@tailwind utilities;
 
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

   
}
/*
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@font-face {
  font-family: "Roboto-Regular";
  src: url("/font/Roboto-Regular.ttf");
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: "Freehand";
  src: url("/font/Freehand-Regular.ttf");
  /* font-weight: 400; */
  font-style: normal;
}

@font-face {
  font-family: "Tahoma-Regular";
  src: url("/font/Tahoma-Regular.ttf");
  /* font-weight: 400; */
  font-style: normal;
}



@font-face {
  font-family: "Tahoma-Bold";
  src: url("/font/Tahoma-Bold.ttf");
  /* font-weight: 400; */
  font-style: normal;
}



@font-face {
  font-family: Inter-Regular;
  src: url("/font/Inter-Regular.otf") format("opentype");
}


@font-face {
  font-family: Inter-Light;
  src: url("/font/Inter-Light.otf") format("opentype");
}


@font-face {
  font-family: Inter-Bold;
  src: url("/font/Inter-Bold.otf") format("opentype");
}



.font-inter-regular {
  font-family: Inter-Regular;
  line-height: 1;
}

.font-inter-light {
  font-family: Inter-Light;
  line-height: 1;
}

.font-inter-bold {
  font-family: Inter-Bold;
  line-height: 1;
}

.font-roboto {
  font-family: Roboto-Regular;
  /* font-weight: 400; */
}

.font-freehand {
  font-family: Freehand;
  /* font-weight: 400; */
}

.font-tahoma {
  font-family: Tahoma-Regular;
  /* font-weight: 400; */
}

.font-tahoma-bold {
  font-family: Tahoma-Bold;
  /* font-weight: 100; */
}



.footer{
  position: fixed;
  z-index: 1000000;
  overflow: hidden;
  bottom: 0px;
  left: 0px;
}

.imagen {
  z-index: -5;
  margin-top:-4vh; 
}

.contenido {
  z-index: -10;

}

.menu {
  z-index: 100;

}

ul li {
  display: inline-block;
}

ul li:before {
  content: "• ";
  color: #4B4B4B;
}
/* 
li {
  // Default bullets style erased 
  list-style: none;
}

li::before {

  // Unicode for a bullet 
  content: "\2022";
    
  // Styles for Indentation
  color: violet;
    
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

li {
  color: green;
} */

.MuiFormLabel-root {
  /* color: #E40067!important; */
  font-family:  Inter-Light !important;
  font-size: 0.9rem!important; 
}

